@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.content {
    margin: auto;
    max-width: 720px;
    margin-top: 80px;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.cat-image {
    max-width: 30%;
    max-height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cat-text {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mono-fonts {
    font-family: 'Poppins', sans-serif;
}



.header{
    z-index: 999;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 60px;
    background-color: rgba(240, 172, 46, 0.6);
    backdrop-filter: blur(5px);
    box-shadow: rgba(240, 172, 46, 0.09) 0px 2px 1px, rgba(240, 172, 46, 0.09) 0px 4px 2px, rgba(240, 172, 46, 0.09) 0px 8px 4px, rgba(240, 172, 46, 0.09) 0px 16px 8px, rgba(240, 172, 46, 0.09) 0px 32px 16px;
}

.header-black-white{
  z-index: 999;
  text-align: center;
  vertical-align: middle;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
}

.title-text {
  font-family: "Space Mono", monospace;
  font-size: large;
  color: rgb(57, 55, 55) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  font-weight: 900;
}




input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

.button_slide {
    color: black;
    border: 2px solid rgb(240, 172, 46);
    border-radius: 0px;
    padding: 16px;
    display: inline-block;
    font-family: "Space Mono", monospace;
    font-size: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 rgb(240, 172, 46);
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
    
  }

.slide_right:hover {
    box-shadow: inset 400px 0 0 0 rgb(240, 172, 46);
  }


.body-background {
    background-color: #0d1117;
}



/* Styles for start page */

.title-text-left {
    margin: 16px;
    font-family: "Space Mono", monospace;
    font-size: x-large;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    height: 60px;
    font-weight: 900;
}



* {
    box-sizing: border-box;
}


.intro-block {
    float: left;
    display: block;
    width: 60%;
    padding: 12px;
    background-color: white;
    padding-top: 12px;
}

.intro-text {
    font-family: 'Poppins', sans-serif;
    padding: 16px 0px 16px 0px;
    color: #ccc;
}

.site-container {
    display: block;
    float: left;
    width: 40%;
    padding-left: 16px;
    padding-right: 16px;
}

.site-card {
    margin-bottom: 16px;
    padding-top: 0px;
    border-radius: 4px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#d1e21b 0 -3px 0 inset;
    transition: box-shadow .15s,transform .15s, background-color 0.2s;
    background-color: #eff1d8;
}

.site-card-text {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding: 16px;
    padding-top: 4px;
    color: #ccc;
    background-color: transparent;
    border-radius: 4px;
}

.site-card:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #e8eea6 0 -4px 0 inset;
    transform: translateY(-4px);
    background-color: #e8eea6;
}

.site-card:active {
    transform: translateY(4px);
}

.site-container-title {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding-top: 16px;
    padding-bottom: 16px;
}


/* Contact card */
.contact-container {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    flex-wrap: wrap;
    float: left;
    width: 100%;
}

.contact-card {
    margin: 4px;
    width: auto;
    /* margin-bottom: 16px; */
    padding-top: 0px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 2px solid #666;
    background-color: #0d1117;
    display: flex;
    align-items: center;
    transition: box-shadow .25s,transform .25s, background-color 0.25s, border 0.5s;

}

.contact-card-text {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    text-align: center;
    padding: 8px;
    color: #ccc;
    background-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}

.contact-card:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, #ff00004d 0 7px 13px -3px, #f7bb4d 0 -4px 0 inset;
    border: 2px solid #f7bb4d;
    transform: translateY(-4px);
}

.contact-card:active {
    transform: translateY(4px);
}

.contact-card-image {
    display: block;
    margin: 0px 0px 0px 8px;
    width: 24px;
    height: 24px;
}

/* @media only screen and (max-width: 1000px) {
    .full-page-intro-block {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
} */

@media only screen and (max-width: 1600px) {
    .full-page-splash-1 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}


@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    .intro-block, .site-container {
      width: 100%;
    }
    .contact-container {
        align-items: center;
        justify-content: center;
        width: 240px;
    }
    .intro-text {
        width: 100%;
    }
    .certification-container-headings {
        width: 100% !important;
        /* text-align: center !important; */
    }
    .certification-card-container {
        justify-content: center !important;
    }
    .project-container{
        justify-content: center !important;
    }
    .container-headers {
        width: 100%;
        text-align: center;
    }
  }

@media only screen and (max-width: 600px) {
    .contact-card {
        width: 100%;
    }
    .skills-card-container{
        justify-content: left !important;
    }
    .skill-card {
        min-width: 0px !important;
    }
}


#select-files-bar {
	padding: 5px;
    display: flex;
    justify-content: space-around;
	-webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    resize: none;
}

#select-files-content {
    margin: 0 auto;
    margin-top: 100px; 
    padding: 0;
    text-align: center;
}

.form-zero-margin {
    margin: 0px !important;
}

/* New start CSS */
.full-page-splash-1 {
    height: 100%;
    margin-left: 200px;
    margin-right: 200px;
}

.full-page-splash-text-container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-page-splash-h1 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: xx-large;
    /* color: #585858; */
    color: #ffa600;
    margin: 0px;
    width: 250px;
    text-align: center;
}

.full-page-splash-h2 {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: large;
    color: #ccc;
    margin: 0px;
    text-align: center;
}

.full-page-intro-block {
    padding: 0px 24px 24px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* margin-left: 240px;
    margin-right: 240px; */
}

.certification-card {
    margin: 8px 4px 8px 4px;
    background-color: #0d1117;
    border-radius: 4px;
    width: 350px;
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 2px solid #444;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    transition: box-shadow .25s,transform .25s, background-color 0.25s, border 0.5s;
    cursor: pointer;
}

.certification-card:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, #ff00004d 0 7px 13px -3px, #f7bb4d 0 -4px 0 inset;
    border: 2px solid #f7bb4d;
    transform: translateY(-4px);
}

.certification-card:hover .certification-card-text {
    color: #f7bb4d;
}

.certification-card:active {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    transform: translateY(4px);
}

.certification-card-image {
    width: 100%;
    height: 100%;
}

.certification-card-image-container {
    display: block;
    width: 84px;
    height: 84px;
    padding: 12px;
}

.certification-card-image-container-narrow {
    display: block;
    width: 72px;
    height: 84px;
    padding: 12px;
}

.certification-card-text-container {
    float: inline-end;
    display: block;
    top: 20%;
    width: 250px;
    color: #ccc;
}

.certification-card-text {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    text-align: center;
}

.certification-card-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: top;
    padding: 16px 0px 16px 0px;
    border-top: 1px solid #444;
}

.certification-container-headings {
    font-family: 'JetBrains Mono', sans-serif;
    font-size: large;
    color: #888;
    padding: 16px 16px 8px 0px;
    width: 160px;
    text-align: left;
}

.project-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: top;
    padding: 16px 0px 16px 0px;
    border-top: 1px solid #444;
}

.project-card {
    margin: 8px 4px 8px 4px;
    background-color: #0d1117;
    border-radius: 4px;
    width: 350px;
    height: fit-content;
    min-height: 200px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    border: 2px solid #444;
    transition: box-shadow .25s,transform .25s, background-color 0.25s, border 0.5s;
    cursor: pointer;
}

.project-card:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, #ff00004d 0 7px 13px -3px, #f7bb4d 0 -4px 0 inset;
    border: 2px solid #f7bb4d;
    transform: translateY(-4px);
    color: #f7bb4d;
}

.project-card:hover .project-card-header {
    color: #f7bb4d;
}

.project-card:hover .project-card-text {
    color: #ccc;
}

.project-card:active {
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    transform: translateY(4px);
}

.project-card-header {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 600;
    padding: 16px;
    color: #ccc;
    background-color: transparent;
    border-radius: 4px;
    transition: color 0.25s;
}


.project-card-text {
    font-family: 'Poppins', sans-serif;
    font-size: small;
    padding: 16px;
    padding-top: 4px;
    color: #888;
    background-color: transparent;
    border-radius: 4px;
    transition: color 0.25s;
}


.skills-main-container {
    padding-bottom: 12px;
    width: 100%;
}

.skills-card-container {
    min-height: 70px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    margin: 4px 0px 4px 0px;
}

.skill-card {
    /* margin: 4px; */
    margin: 4px 8px 4px 0px;
    background-color: #0d1117;
    border-radius: 4px;
    width: auto;
    min-width: 92px;
    height: 48px;
    border: 2px solid #66666677;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    cursor: default;
    color: #ccc;
    transition: box-shadow .25s,transform .25s, background-color 0.25s, border 0.5s, color 0.5s;
}

.skill-card:hover {
    border: 2px solid #f7bb4d;
    color: #f7bb4d;
}

.skill-card-text {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    text-align: left;
    padding: 0px 16px 0px 16px;
}

.color-1 {
    color: #24a2b3;
}

.color-2 {
    color:#f0ac2e;
}

.color-3 {
    color: #4ea74e;
}

.container-headers {
    width: 100%;
    text-align: left;
    color: #ffa600;
    font-size: larger;
    margin: 0px;
    padding: 0px 0px 8px 0px !important;
}

.award-card {
    margin: 4px;
    background-color: #0d1117;
    border-radius: 4px;
    width: 350px;
    height: 200px;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px; */
    border: 2px solid #444;
    transition: box-shadow .25s,transform .25s, background-color 0.25s, border 0.5s;
    /* transition: box-shadow .15s,transform .15s, background-color 0.2s; */
    cursor: default;
}

.award-card:hover {
    border: 2px solid #f7bb4d;
}

.award-card:hover .award-card-text, .award-card:hover .award-card-title {
    color: #ccc;
}

.award-card-title {
    color: #888;
    margin: 0px;
    font-size: large;
    font-weight: 600;
    transition: color 0.25s;
    height: 48px;
}

.award-card-subtitle {
    color: #f7bb4d;
    margin: 8px 0px 0px 0px;
    font-size: medium;
}

.award-card-text {
    color: #888;
    transition: color 0.25s;
}

.award-year {
    width: 100%;
    text-align: left;
    color: #8a8a8a;
    font-size: large;
    margin: 0px;
    padding: 8px 0px 8px 0px !important;
}

