<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <title>
        Hello there!
    </title>
    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    </header>
    <body class="body-background">
        <div class="start-container">
            <div class="full-page-splash-1">
                <div class="full-page-splash-text-container">
                    <p class="full-page-splash-h2">Hello, there. I'm</p>
                    <p class="full-page-splash-h1">Hari Prasad</p>
                </div>
            </div>
            <div class="full-page-splash-1">
                <!-- <p class="full-page-splash-h1" style="padding-left: 24px;">
                    About me
                </p> -->
                <div class="full-page-intro-block">
                    <div class="intro-text">
                        I am a Senior Data Specialist, with 7 years of expertise in data warehousing, data integration and automation in various platforms. I am hyped about automations and accelerators and I leverage my right amount of laziness to automate things ranging from data model generation and migration to trivial tasks like choosing what to cook, setting alarms, controlling temperature and lights. Python is home and Docker is my new found love. Following is a list of my skills, certifications and projects. <br>
                    </div>
                    <div class="skills-main-container">
                        <p class="certification-container-headings container-headers">Skills</a>
                        {% for area in skillset %}
                        <div class="skills-card-container">
                            <a class="certification-container-headings">{{ area }}</a>
                            {% for skill in skillset[area] %}
                            <div class="skill-card">
                                <a class="skill-card-text">{{ skill }}</a>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                    

                    <div class="certification-card-container">
                        <a class="certification-container-headings container-headers">Certifications</a>
                        <div class="certification-card" onclick= "window.open('http://credential.net/31951e47-2463-4192-b0fc-9861eae54f51','dbt Certificate');">
                            <div class="certification-card-image-container">
                                <img src="../static/images/dbt_cert_badge.svg" class="certification-card-image">
                            </div>
                            <div class="certification-card-text-container">
                                <p class="certification-card-text">Certified dbt Developer</p>
                            </div>
                        </div>
                        <div class="certification-card" onclick= "window.open('https://www.credly.com/badges/a37b45b3-73ef-4f04-a74c-c6a42ba97bdb?source=linked_in_profile','Snowflake Certificate');">
                            <div class="certification-card-image-container">
                                <img src="../static/images/SnowProCore.png" class="certification-card-image">
                            </div>
                            <div class="certification-card-text-container">
                                <p class="certification-card-text">SnowPro Core Certified</p>
                            </div>
                        </div>
                    </div>
                    <div class="project-container">
                        <a class="certification-container-headings container-headers">Projects</a>
                        <div class="project-card" onclick= "window.open('http://sahariprasad.com/jumpstart');" >
                            <div class="project-card-header">dbt Jumpstart (Service)</div>
                            <div class="project-card-text">
                                This project helps quickly create boilerplate dbt models from your requirements instantly without errors and immediately focus on implementing business logic.
                            </div>
                        </div>
                        <div class="project-card" onclick= "window.open('https://github.com/sahariprasad/dbt-jumpstart');" >
                            <div class="project-card-header">dbt Jumpstart (Library)</div>
                            <div class="project-card-text">
                                The underlying logic of dbt Jumpstart built as a library in PyPi. Check out the GitHub repo on how to use and also feel free to contribute.
                            </div>
                        </div>
                        <div class="project-card" onclick= "window.open('http://sahariprasad.com:1234/');" >
                            <div class="project-card-header">Meal Manager</div>
                            <div class="project-card-text">
                                A very simple meal manager based on user-defined recipes that helps you avoid the greatest problem in cooking - choosing what to cook. Integrates with Siri and Reminders, runs on Flask and Docker.
                            </div>
                        </div>
                        <div class="project-card">
                            <div class="project-card-header">HANA to dbt Converter</div>
                            <div class="project-card-text">
                                A very simple meal manager based on user-defined recipes that helps you avoid the greatest problem in cooking - choosing what to cook. Integrates with Siri and Reminders, runs on Flask and Docker.
                            </div>
                        </div>
                        <div class="project-card" onclick= "window.open('http://sahariprasad.com/');" >
                            <div class="project-card-header">sahariprasad.com</div>
                            <div class="project-card-text">
                                This began as a simple tutorial for flask and this website was the first application I could think of to apply what I learned.
                            </div>
                        </div>
                        <div class="project-card" onclick= "window.open('https://github.com/sahariprasad/docMaster');" >
                            <div class="project-card-header">docMaster</div>
                            <div class="project-card-text">
                                A Python-based for creating a short document on the data source, variable information and the scripts in a Lumira Document.
                            </div>
                        </div>
                    </div>
                    <div class="project-container">
                        <a class="certification-container-headings container-headers">Awards</a>
                        <a class="certification-container-headings award-year">2022</a>
                        <div class="award-card">
                            <div class="site-card-text">
                                <p class="award-card-subtitle">Winner, Visual BI</p>
                                <p class="award-card-title">Datathon</p>
                                <p class="award-card-text">Solution Architecture competition. Series of rounds for presenting end-to-end solutions for various business use cases.</p>
                            </div>
                        </div>
                        <div class="award-card">
                            <div class="site-card-text">
                                <p class="award-card-subtitle">Visual BI</p>
                                <p class="award-card-title">Eagle Squad Award</p>
                                <p class="award-card-text">Exemplary performance and delivery in client project.</p>
                            </div>
                        </div>
                        <a class="certification-container-headings award-year">2019</a>
                        <div class="award-card">
                            <div class="site-card-text">
                                <p class="award-card-subtitle">Winner, Visual BI</p>
                                <p class="award-card-title">BIQ Challenges</p>
                                <p class="award-card-text">Series of weekly challenges in end-to-end BI architecture & implementation.</p>
                            </div>
                        </div>
                        <a class="certification-container-headings award-year">2018</a>
                        <div class="award-card">
                            <div class="site-card-text">
                                <p class="award-card-subtitle">2nd Place, Visual BI</p>
                                <p class="award-card-title">DATOS</p>
                                <p class="award-card-text">Dashboarding competition in SAC.</p>
                            </div>
                        </div>
                        <div class="award-card">
                            <div class="site-card-text">
                                <p class="award-card-subtitle">Winner, SAP India level</p>
                                <p class="award-card-title">SAP Analytics for Cloud Hackathon</p>
                                <p class="award-card-text">Hackathon organized by SAP. SAC Story building with given data, published in SAP's marketplace.</p>
                            </div>
                        </div>
                        <a class="certification-container-headings award-year">2015</a>
                        <div class="award-card">
                            <div class="site-card-text">
                                <p class="award-card-subtitle">2nd Place, SAP Worldwide</p>
                                <p class="award-card-title">SAP Data Genius</p>
                                <p class="award-card-text">Dashboarding competition organized by SAP worldwide. Use case for submission - strategic analysis of NBA player and match data for year 2015.</p>
                            </div>
                        </div>
                    </div>
                    <div class="project-container">
                        <a class="certification-container-headings container-headers">Contact</a>
                        <div class="contact-card" onclick="window.open('https://www.linkedin.com/in/sahariprasad/','LinkedIn profile');">
                            <div class="contact-card-image">
                                <img src="../static/images/linkedin-logo.png">
                            </div>
                            <div class="contact-card-text">
                                sahariprasad
                            </div>
                        </div>
                        <div class="contact-card" onclick="window.open('https://github.com/sahariprasad','GitHub profile');">
                            <div class="contact-card-image">
                                <img src="../static/images/github-white-logo.png">
                            </div>
                            <div class="contact-card-text">
                                sahariprasad
                            </div>
                        </div>
                        <div class="contact-card" onclick="window.open('mailto:sahariprasad@outlook.com');">
                            <div class="contact-card-image" style="padding: 4px 0 4px 0;">
                                <img src="../static/images/email-white-logo.png">
                            </div>
                            <div class="contact-card-text">
                                sahariprasad@outlook.com
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Old site -->
            <div class="header-black-white" style="display: none;">
                <div class="title-text-left">Hello there!</div>
            </div>
            <div style="padding-left: 24px; padding-right: 24px; display: none;">
                <div class="intro-block">
                    <div class="intro-text">
                        I'm Hari. I'm a Senior Data Specialist, specializing in data warehousing in Snowflake and data modelling with dbt with seasoned experience in Azure services, particularly in Azure Data Factory, Azure Functions, Azure Databricks, Azure Blob Storage, Azure Logic Apps.<br><br>
                        SQL Server, HANA and SAP BW are some other warehouses I am experienced in. ETL experience with HVR, Fivetran and BODS.<br><br>
                        I am hyped about automating things in life leveraging my ability to be the right-amount-of-lazy. Smart homes, python accelerators for every mundane task - like choosing what to eat, setting alarms, controlling temperature and lights, I use Python and shell scripts to control all accelerators and Docker is my new found love. <br><br>
                        <div class="contact-container">
                            <div class="contact-card" onclick="window.open('https://www.linkedin.com/in/sahariprasad/','LinkedIn profile');">
                                <div class="contact-card-text">
                                    LinkedIn
                                </div>
                            </div>
                            <div class="contact-card" onclick="window.open('https://github.com/sahariprasad','GitHub profile');">
                                <div class="contact-card-text">
                                    GitHub
                                </div>
                            </div>
                            <div class="contact-card" onclick="window.open('mailto:sahariprasad@outlook.com','Email');">
                                <div class="contact-card-text">
                                    Email
                                </div>
                            </div>
                            <div class="contact-card" onclick="window.open('tel:+918220884274','Phone');">
                                <div class="contact-card-text">
                                    Phone
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="site-container">
                    <div class="site-container-title">
                        Here are some of the many little things that I am putting together.
                    </div>
                    <div class="site-card">
                        <div class="site-card-text" onclick= "window.open('http://sahariprasad.com/jumpstart','dbt Jumpstart service');" style="cursor: pointer;">
                            <h3>dbt Jumpstart (Service)</h3>
                            This project helps quickly create boilerplate dbt models from your requirements instantly without errors and immediately focus on implementing business logic.
                        </div>
                    </div>
                    <div class="site-card">
                        <div class="site-card-text" onclick= "window.open('https://github.com/sahariprasad/dbt-jumpstart','dbt Jumpstart repo');" style="cursor: pointer;">
                            <h3>dbt Jumpstart (Library)</h3>
                            This project is available as a library in PyPi. Check out the GitHub repo on how to use and also feel free to contribute.
                        </div>
                    </div>
                    <div class="site-card">
                        <div class="site-card-text" onclick= "window.open('https://github.com/sahariprasad/meal-manager','meal-manager');" style="cursor: pointer;">
                            <h3>meal-manager</h3>
                            A very simple meal manager based on user-defined recipes. The main focus of this project is to integrate with Siri through Siri Shortcuts, so that I can always know what I can cook with whatever is available in my grocery list.<br>Although this began as a personal project that runs on a little Raspberry Pi 3b at home, I'm expanding this into a generally-available service soon. This is still in early development, you can visit my repo and have a fork (or spoon :P). 
                        </div>
                    </div>
                </div>
            </div>          
        </div>     
    </body>
</html>