<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <title>
        Hello there!
    </title>
    <header>
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    </header>
    <body class="body-background">
        <div class="start-container">
            <div class="header-black-white">
                <div class="title-text-left">Hello there!</div>
            </div>
            <div>
                <div class="intro-block">
                    <div class="intro-text">
                        I'm Hari. I'm a Senior Data Specialist, specializing in data warehousing in Snowflake and data modelling with dbt with seasoned experience in Azure services, particularly in Azure Data Factory, Azure Functions, Azure Databricks, Azure Blob Storage, Azure Logic Apps.<br><br>
                        SQL Server, HANA and SAP BW are some other warehouses I am experienced in. ETL experience with HVR, Fivetran and BODS.<br><br>
                        I am hyped about automating things in life leveraging my ability to be the right-amount-of-lazy. Smart homes, python accelerators for every mundane task - like choosing what to eat, setting alarms, controlling temperature and lights, shell scripts to control all accelerators and docker is my new found love. <br><br>
                        Here are some of the many little things that I am putting together. <br><br>
                    </div>
                </div>
                <div class="site-container">
                    <div class="site-card">
                        <div class="site-card-text" onclick= "window.open('http://sahariprasad.com/jumpstart','dbt Jumpstart');" style="cursor: pointer;">
                            <h3>dbt Jumpstart</h3>
                            This project helps quickly create boilerplate dbt models from your requirements instantly without errors and immediately focus on implementing business logic.
                        </div>
                    </div>
                    <div class="site-card">
                        <div class="site-card-text" onclick= "window.open('https://github.com/sahariprasad/meal-manager','meal-manager');" style="cursor: pointer;">
                            <h3>meal-manager</h3>
                            A very simple meal manager script based on user-defined recipes. Although this began as a personal project that runs on a little Raspberry Pi 3b at home, I'm expanding this into a generally-available service soon. This is still in early development, you can visit my repo and have a spoon (or fork :P).
                        </div>
                    </div>
                    <div class="site-card">
                        <div class="site-card-text" onclick= "window.open('https://github.com/sahariprasad/meal-manager','meal-manager');" style="cursor: pointer;">
                            <h3>This website</h3>
                            I build this website as a fun project, just to learn how HTML and CSS work. Head to the Github repo.
                        </div>
                    </div>
            </div>
            
                
            </div>          
        </div>     
    </body>
    
</html>