<html>
   <title>
      dbt Jumpstart
   </title>
   <header>
      <link rel="stylesheet" href="styles.css">
      <h1>dbt Jumpstart</h1>
   </header>
   <body style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
      <div class="content">
         <!-- <form action = "http://34.74.175.203:9000/uploader" method = "POST"  -->
         <form action = "http://localhost:9000/uploader" method = "POST" enctype = "multipart/form-data">
            <label for="columns"><b>Choose columns file</b></label>
            <input type = "file" id = "columns" name = "file" /><br><br>
            <label for="tables"><b>Choose tables file</b></label>
            <input type = "file" id = "tables" name = "file" /><br><br>
            <input type = "submit" value = "Upload and Convert"/>
         </form>
         <hr>
         <p>
            This project helps jump start any dbt project. You can simply collect all the information regarding your tables and their schema and upload here, and the service generates the dbt models for you. The following instructions will guide you through the process.
         </p>
         <h2>Preparation</h2>
         <p>
            You need to create two .xlsx spreadsheets - one that contains all the table configurations and another that contains the details about all the columns in the tables. The files must be named exactly as shown below:
            <ul>
               <li>tables.xlsx</li>
               <li>columns.xlsx</li>
            </ul>
         </p>
         <h3>tables.xlsx</h3>
         <p>
            Create tables.xlsx with the following format. You definitely need to have the column headers as is, but you are free to leave them empty.
         </p>
         <img src="../images/tables.png">
         <h3>columns.xlsx</h3>
         <p>
            Create a .xlsx spreadsheet in the below format. You definitely need to have the column headers as is, but you are free to leave them empty. <br><br>
            <b>Note that you need to name the sheets with the exact table names that you used in the tables.xlsx</b>
         </p>
         <img src="../images/columns.png">
      </div>
      
      
   </body>
</html>